.contact {
  height: 100%;
  max-width: 1366px;

  margin: 20px auto;
  display: flex;
  align-items: center;
  gap: 100px;
}

@media (max-width: 768px) {
  .contact {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 40px;
  }
}

.contact .textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 768px) {
  .contact .textContainer {
    gap: 20px;
    text-align: center;
    align-items: center;
    margin-top: 70px;
  }
}

.contact .textContainer h1 {
  font-size: 100px;
  line-height: 88px;
}

@media (max-width: 768px) {
  .contact .textContainer h1 {
    font-size: 36px;
  }
}

.contact .textContainer span {
  font-weight: 300;
}

.contact .formContainer {
  flex: 1;
  position: relative;
}

@media (max-width: 768px) {
  .contact .formContainer {
    padding: 0px;
    width: 100%;
  }
}

.contact .formContainer .phoneSvg {
  stroke: #be78f5;

  margin: auto;
}

.contact .formContainer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact .formContainer form input,
.contact .formContainer form textarea {
  padding: 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .contact .formContainer form input,
  .contact .formContainer form textarea {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .contact .formContainer form a {
    padding: 10px;
  }
}
